body {
    background: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;

}
.photo {
    border: 1px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;

}

#title, .subtitle, .post_title {
    color: black
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: purple
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px; ;
}

.post {
    background: white;
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    text-transform: capitalize;
    text-align: center;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
    text-decoration: none;
}

